/*Etiqutas*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*header body main footer*/

header{
	width: 100%;
    height: 100hv;
    padding-bottom: 50px;
	background-color: #444444;
}
body{
	width: 100%;
	height: 100%;
	background-color: #FFC60B;
}
main{
	width: 100%;
	height: 100%;
}
footer{
	width: 100%;
	min-height: 50px;
	background-color: #FFC60B;
	align-self: flex-end;
	
}
.conten-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}

.familia{
	font-family:'Roboto', sans-serif;
}
.logo{
	width: 200px;
    margin-left: 50px;
	border-radius: 5px;
}
.fondo{
	background-color: #FFC60B;
}

.img-fluid {
    max-width: 100%;
    height: auto;
	padding: 20PX;
}
.img2{
	width: 65%;
	padding-top: 15px;
	margin-bottom: 5px;
	border-radius:20px;
}
div{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 5px;
}

/*textos nav*/
.estilo{
	color: #FFC60B;
	font-size: 1.1rem;
	padding: 20px;
	text-decoration: none;
}
.estilo:hover{
	color: #FF8B00;
}
.texto{
	display: flex;
    padding-left: 50px;
    justify-content: center;
    flex-flow: column wrap;
    margin-top: 0px;
	color: #444444;
}

.subtitulo{
	display: flex;
	justify-content: center;
    flex-flow: column wrap;
	font-size: 40px;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 5px;
	color: #444444;
}
.titulo{
	display: flex;
	justify-content: center;
    flex-flow: column wrap;
	font-size: 45px;
	color: #444444;
	margin-top: 5px;
	margin-bottom: 5px;
}
.definicion{
	display: flex;
	justify-content: center;
    flex-flow: column wrap;
	margin-top: 5px;
	padding: 5px;
	font-stretch: unset;
	color: #444444;
}
.autor{
	font-size: 17px;
	color: #444444;
}
.copy{
	font-size: small;
	color: #444444;
	display: flex;
	justify-content: center;
}
nav{
	display: block;
}
.color{
	background-color: #444444;
}
div{
	display: block;
}

.img:hover {filter: saturate(180%);}

.icono{
    width: 20%;
    display: block;
    margin: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-center {
    text-align: center!important;
}
h1{
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
	color: #444444;
}
.h2{
	color: #444444;
}
.colorsub{
	color: #FEFFDB;
}
/*modal galeria*/
#galeria img{
	width: 100%;
	height: 220px;
}

#galeria .col-lg-4{
	padding: 10px
}
#galeria img:hover{
	border: 5px solid #FF8B00;
}

/*formulario*/
.formulario{
		padding: 30px;
		border: 2px solid #4444;
		border-radius: 10px;
		background-color: #4444;
}
.form-label{
	color: #FEFFDB;
}
.form-control{
	width: 100%;
	background-color: #FEFFDB;
	
}
label{
	padding: 10px;
}
.btn{
	color: #FEFFDB;
	background-color: #FF8B00;
	display: flex;
	justify-content: center;
}
/*tarjetas*/
.containerPropio{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	margin-left: 0;
	margin-top: 0;
}
.containerPropio .card{
	max-width: 300px;
	height: 250px;
	background-color: #FF8B00;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}
.containerPropio .card:hover{
	height: 420px;
}	
.containerPropio .card .imgBX{
	position: relative;
	width: 200px;
	height: 200px;
	top: -60px;
	left: 35px;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.containerPropio .card .imgBX img{
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.containerPropio .card .contenido{
	margin-top: -250px;
	padding: 5px 5px;
	text-align: center;
	color: #FEFFDB;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.containerPropio .card:hover .contenido{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}
/*iconos*/
i{
	color: #FF8B00;
}
i:hover{
	transition: 0.2s;
	color: #FEFFDB;
}

@media (max-width: 540px) {
	main{
		height: 100%;
	}
	.modal-dialog{
		vertical-align: middle;
		box-sizing: border-box;
		width: 70%;
		height: 5rem;
		margin-top: 50%;
		margin-left: 5rem;
	}
	.modal-content{
		width: 80%;
		height: 5rem;
	}
	body{
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}
	.containerPropio{
		display: flex;
		display: inline-block;
		flex-direction: column;
	}
	.footer{
		display: flex;
		position: fixed;
		align-self: flex-end;
		width: 100%;
	}
	.conteiner{
		min-height: calc(100hv - 200px);
	}
	}
@media (max-width: 768px){
		
	header{
		width: 100%;
	}

	body{
		height: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	.containerPropio{
		height: 100%;
		display: flex;
		display: inline-block;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
}
@media (max-width: 992px){

	body{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	.containerPropio{
		display: flex;
		display: inline-block;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	header{
		width: 100%;
	}

	
}
@media (max-width: 1200px){

	body{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	
	
	
}



























