/*Etiqutas*/

*{
	margin: 0;
	padding: 0;
}

/* header*/
header{
	background-color: #2E7A9B;
	width: 100%;
  height: 250px;
}
header h1{
	display: flex;
	justify-content: center;
	padding: 5px;
	font-size: 2rem
}
.textoGrande{
	font-size: 40px;
}
.espaciado{
	letter-spacing: 60px;
}
.gradiente{
	background-image: linear-gradient(to right, #2E7A9B, white);
}	
.paraTransicion:hover {
  transition: 3s;
  font-size: 3rem;
}


li a{
	text-decoration: none;
}
nav{
	text-align: center;
	background: white;
	border-radius: 10px;
	margin-top: 5px;
}
h4 li{
	color: #062636;
}
nav ul li{
	display: inline;
	padding: 10px;
}
.colorLetra{
	color: #123340;
}

.flex{
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	padding: 5px;
	color: white;
}
.fondo{
	background-image: src="imagenes/ropa.png";
}

/*main*/

main{
	width: 100%;
  	height: 500px;
}


.textoRelativo{
	font-size: 20px;
}

.colorSub{
	color: #03a6a3;
}
.espacio{
	padding: 40px;
}

div{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 5px;
}

section ul article h4{
	display: inline-block;
	padding: 10px;
}

ol{
	padding: 30px;
	display: inline-block;
}
ol li{
	padding: 10px;
}
table{
	border: inset;
}

section h3 img{
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
form{
	display: inline-block;
	border: solid;
	width: 55%;
}
nav li:hover .submenu{
	display: block;
}


/*movile*/

@media (max-width: 540px) {
		main {
			color: white;
		}	

		h1{
			font-size: 20px;
		}
		
		main div img{
			width: 40px;
			padding: 2px;
		}
		footer div img{
			width: 50px;
		}
		h2{
			border-radius: 10px;
		}
		ul li{
			font-size: 10px;
		}

}

@media (max-width: 720px) {
			ul li{
			font-size: 15px;
		}
}
























/*
header{
	background-color: #2E7A9B;
}
/*
h1{
	background-color: #2E7A9B;
	font-weight: bold;
	
header h2{
	color: white;
	margin-top: 20px;
	margin-left: 90px;
}
/*
img{
	position: relative;
	width: 10%;
	left: 10%;
}
nav{
	text-align: center;
	background: white;
}

ul{
	list-style-type: none;
}
section ul article h4{
	display: inline-block;
	padding: 20px;
}
section{
	margin: 40px;
}
section img{
	display: inline-block;
	float: right;
	margin-right: 130px;
}
table{
	margin: 40px;
	color: #123340;
}
thead{
	background:#8ab8b1;
}
form{
	margin: 40px;
}
footer{
	background: #2E7A9B;
	color: white;
	font-size: 20px;
}
footer p{ 
	margin-left: 10px;
	padding-bottom: 10px;
}

/*ceramica*/
/*
section ul h2{
	display: inline-block;
	margin-left: 50px;
	padding: 25px;
}
/*cosmetica*/
/*
main h2{
	margin-left: 30px;
}
ol{
	padding: 50px;
}
ol li{
	padding: 10px;
}
/*INDUMENTARIA*/
/*
table{
	border: inset;
}
section h3 img{
	width: 40%;
}
/*amuletos*/
/*
form{
	display: inline-block;
	border: solid;
	width: 55%;
}
nav li:hover .submenu{
	display: block;
}


/*Clases*/
/*
.familia{
	font-family: 'Righteous', sans-serif;
}
.textoGrande{
	font-size: 60px;
}
.espaciado{
	letter-spacing: 60px;
}
.colorTitulo{
	color: white;
}
.textoRelativo{
	font-size: 20px;
}
.espacioPalabra{
	word-spacing: 30px;
}
.interlineado{
	line-height: 1.6;
}
.colorLetra{
	color: #123340 ;
}
.subpaginas{
	color: #123340;
	font-size: 40px;
}
.negrita{
	font-weight: bold;
}
.vinieta{
	list-style-type: disc;
}
.centrar{
	text-align: center;
}
.margen{
	margin: 60px;
}
.submenu{
	position: absolute;
	display: none;
	margin-left: 38%;
	padding-top: 5px;
}
.colorSub{
	color: #03a6a3;
}
